body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h2 {
    color: hwb(213 7% 45%);
    font-family: "Gabriola", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
header {
    background-color: lightblue;
    text-align: center;
    padding: 60px;
    background-image: url('/images/heading.png');
    background-size: cover;
    background-position: center;
}
header h1 {
    font-family: 'Papyrus', 'Brush Script MT', cursive;
    font-size: 0px;
    color: #333333; 
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); 
    margin: 0;
    padding: 5px 0;
    text-align: center;
  }
.container {
    display: flex;
}

nav {
    background-color: lightblue; 
    padding: 20px;
    flex: 0 0 220px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    background-color: #f2cfcf; 
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    padding: 20px;
}

section {
    flex: 2;
}

aside {
    flex: 1;
    text-align: center;
}

footer {
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 100%;
    width: 90%; 
    height: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    nav {
        flex: 0 0 auto;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        flex-direction: column;
    }
}
